body {
  font-family: Noto Sans, Arial, sans-serif;
}

h1, h2, h3, h4, .ui.header {
  font-family: IBMPlexSans, Arial, sans-serif!important;
}

body, .ui.tab.segment {
  background-color: #EFF7FF;
}

@media only screen and (max-width: 767.98px) {
  #user_menu .ui.items.unstackable>.item>.mini.image, 
  #user_menu .ui.items.unstackable>.item>.mini.image>img {
    width: 35px!important;
  }
  
  #page_select {
    display: none;
  }
  
  .ui.grid>.column.grey-sidebar {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .ui.dropdown#user_menu>.menu>.mobile-item {
    display: none;
  }
}

.login-icon-header {
  padding-left: 100px;
}

.user-header-item.ui.items>.item .meta {
  margin: 0;
}

.right-float {
  float: right;
}

.cake-day-icon {
  margin-right: 2px;
}

.banner-karma-icon {
  height: 10px;
  fill: #ff4500;
}

.ui.card .banner-karma-icon {
  margin-left: 2px;
}

.ui.grid.padded-grid {
  padding: 1rem;
}

.grey-sidebar {
  background-color: #FBFBFB;
}

.centered-reddit-post {
  text-align: center;
}