body {
  font-family: verdana, arial, helvetica, sans-serif;
}

.app-header {
  padding: 10px;
}

.user-header-item.ui.items>.item .meta {
  margin: 0;
}

.right-float {
  float: right;
}

.banner-avatar-image {
  
}

.banner-karma-icon {
  height: 12px;
  fill: #ff4500;
}

.ui.grid.padded-grid {
  padding: 1rem;
}