body {
  font-family: 'IBM Plex Sans', IBMPlexSans, Arial, BentonSans, sans-serif;
}

body, .ui.tab.segment {
  background-color: #EFF7FF;
}

.user-header-item.ui.items>.item .meta {
  margin: 0;
}

.right-float {
  float: right;
}

.banner-avatar-image {
  
}

.banner-karma-icon {
  height: 10px;
  fill: #ff4500;
}

.ui.grid.padded-grid {
  padding: 1rem;
}